{% extends "mail/layout.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'mail/styles.css' %}">
    <link rel="stylesheet" href="{% static 'mail/twittersearch.css' %}">
{% endblock %}
{% block body %}
    <div class="flex w-screen h-screen">
        <!-- Sidebar -->
        <div class="sidebar flex fixed top-0 bottom-0 flex-col p-2 pb-0 w-[60px] bg-gray-900 overflow-hidden lg:w-[300px] z-50">
            <span class="menu inline-block text-2xl p-3 bg-slate-700 text-white lg:hidden rounded cursor-pointer" onclick="showSidebar()"><i class="fa-solid fa-bars"></i></span>
            <div id="logo" class="lg:flex flex-row justify-between hidden">
                <div class="flex text-center my-3 pl-4">
                    <img src="{% static 'mail/CM_logo.png' %}" alt="logo" class="w-18 h-12 mt-1">
                    <h1 class="text-white font-bold text-3xl pl-0 pt-3">Cybella Mail</h1>
                </div>
                <span class="lg:hidden relative text-white text-xl cursor-pointer hover:text-rose-500 p-3 bottom-20 left-64" onclick="hideSidebar()"><i class="fa-solid fa-xmark"></i></span>
            </div>
            <hr class="my-5 text-gray-500 opacity-20">
            <!-- Twitter search input-->
                <div class="my-3" id="searchDiv">
                    <form  class="searchForm w-[93%]">
                        <label for="search">
                            <input class="searchInput" type="text" placeholder="Search" id="search" onkeydown="searching(event)">
                            <div class="search-bg"></div>
                            <div class="search">
                                <svg viewBox="0 0 24 24" aria-hidden="true" class="r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-4wgw6l r-f727ji r-bnwqim r-1plcrui r-lrvibr">
                                    <g>
                                        <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                                    </g>
                                </svg>
                            </div>
                            <button class="close-search" type="reset">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                </svg>
                            </button>
                        </label>
                    </form>
                </div>
            <!-- Twitter search input-->
            <!-- menu buttons -->
            <div class="flex flex-col justify-between flex-grow">
                <div class="">
                    <button id="compose" class="text-xl w-full text-left bg-transparent hover:bg-sky-700 text-rose-500 hover:text-white font-semibold mb-4 py-3 px-3 lg:px-4 border border-blue-500 border-transparent rounded">
                        <i class="fa-solid fa-pen-to-square mr-2"></i><span class="menu-element  hidden lg:inline">Compose</span>
                    </button>
                    <button id="inbox" class="text-xl w-full text-left bg-transparent hover:bg-sky-700 text-white font-semibold mb-4 py-3 px-3 lg:px-4 border border-blue-500 border-transparent rounded">
                        <i class="fa-solid fa-inbox mr-2"></i><span class="menu-element hidden lg:inline">Inbox</span>
                    </button>
                    <button id="sent" class="text-xl w-full text-left bg-transparent hover:bg-sky-700 text-white font-semibold mb-4 py-3 px-3 lg:px-4 border border-blue-500 border-transparent rounded">
                        <i class="fa-solid fa-paper-plane mr-2 "></i><span class="menu-element hidden lg:inline">Sent</span>
                    </button>
                    <button id="archived" class="text-xl w-full text-left bg-transparent hover:bg-sky-700 text-white font-semibold mb-4 py-3 px-3 lg:px-4 border border-blue-500 border-transparent rounded">
                        <i class="fa-solid fa-box-archive mr-2"></i><span class="menu-element  hidden lg:inline">Archive</span>
                    </button>
                    <hr class="my-5 text-gray-500 opacity-20">
                </div>
                <div class="bg-slate-800 py-4 px-2 -mx-2 flex justify-between overflow-hidden">
                    <span id="currentUser" class="text-white hover:text-rose-500 hover:cursor-default font-semibold lg:inline hidden">{{ request.user.email }}</span>
                    <a href="{% url 'logout' %}">
                        <i class="fa-solid fa-right-from-bracket text-white leading-7 p-3 lg:p-0 lg:pr-3 text-xl hover:text-sky-700 hover:cursor-pointer"></i>
                    </a>
                </div>
            </div>
            <!-- menu buttons -->
        </div>
        <!-- Sidebar -->

        <!-- Main content -->
        <div id="content" class=" w-screen h-full p-1 lg:p-6 ml-[60px] lg:ml-[300px]">

            <!-- Title of section-->
            <div id="Title" class="flex flex-row mb-5 ">
                
                <h1 id="title-change" class="text-5xl text-gray-700 font-semibold">Inbox</h1>
            </div>
           
            <!-- Title of section-->

            <!-- List Emails section-->
            <div id="emails-section" class="bg-white " >
                <hr class="my-5 text-gray-500 opacity-50">
                
                <div class="flex flex-row border-2 rounded-t border-b-0 bg-gray-600 border-gray-400 justify-between">
                    <div class="p-4 leading-3 flex flx-row items-center">
                        <input id="select_all" onchange="select_all()" title="select all" type="checkbox" class="fw-6 h-4 text-sky-700 rounded bg-gray-100 border-gray-500" id="check-all">
                        <span class="mx-2 text-white">Select all</span>
                    </div>
                    <div class="p-4 w-1 leading-3 text-white font-semibold items-center mx-10 flex text-lg">
                        <button  title="refresh" onclick="refresh()"><i class="fa-solid fa-rotate-right"></i></button>
                        <button title="delete" onclick="delete_selected()" ><i class="fa-solid fa-trash px-3"></i></button>
                        
                    </div>
                </div>
                <div class="overflow-y-scroll overflow-x-auto border-x border-t h-fit max-h-[750px] ">
                    <table class="table-fixed w-auto sm:w-full overflow-y-scroll overflow-x-auto border-gray-900 ">
                        <tbody id="emails-view">
                            {# trs/tds here #}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- List Emails section-->
            <!-- Email section-->
            <div id="email-view" class="">
                
                <div id="email-nav">
                    <div class="flex flex-row justify-between">
                        <div id="buttons-set1" class="flex flex-row">
                            <button id="inbox" title="back" onclick="load_mailbox('inbox')" class="m-2 text-gray-500 text-2xl hover:text-rose-500 cursor-pointer">
                                <i class="fa-solid fa-chevron-left"></i> 
                            </button>
                            <button id="archive_Icon" title="archive" class="m-2 text-gray-500 text-2xl hover:text-rose-500 cursor-pointer">
                                <i class="fa-solid fa-box-archive "></i>
                            </button>
                            <button id="spam" title="spam" class="m-2 text-gray-500 text-2xl hover:text-rose-500 cursor-pointer">
                                <i class="fa-solid fa-triangle-exclamation"></i>
                            </button>
                            <button id="delete" title="delete" class="m-2 text-gray-500 text-2xl hover:text-rose-500 cursor-pointer">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                            <button id="forward" title="forward" class="m-2 text-gray-500 text-2xl hover:text-rose-500 cursor-pointer">
                                <i class="fa-solid fa-share"></i>
                            </button>
                        </div>
                        <div class="flex flex-row">
                            <button id="reply" title="reply" class="m-2 text-gray-500 text-2xl hover:text-rose-500 cursor-pointer">
                                <i class="fa-solid fa-reply"></i>
                            </button>
                            <button id="option" title="options" class="m-2 text-gray-500 text-2xl hover:text-rose-500 cursor-pointer">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <hr class="mb-5 text-gray-500 opacity-50">
                <div id="email-content" class="">
                    <div class="flex flex-row justify-between ">
                        <div class="flex flex-col">
                            <span id="email-subject" class="text-4xl text-gray-900 font-semibold my-3"></span>
                            <span class="text-gray-500">From: <span id="email-sender" class="text-gray-700"></span></span>
                            <span class="text-gray-500">To: <span class="text-gray-700">{{ request.user.email }}</span></span>
                        </div>
                        <div class="flex flex-col mt-14">
                            <span class="text-gray-500"><span id="time" class="text-gray-700"></span></span>
                        </div>
                    </div>
                    <div class="text-gray-700 my-5">
                        <p id="email-body"></p>
                    </div>
                </div>
                <div id="RF_btns" class="flex justify-end">
                    <button id="reply_btn" class="pl-0 w-32 m-2 bg-transparent hover:bg-rose-500 text-rose-500 font-semibold hover:text-white py-2 px-4 border-2 border-rose-500 hover:border-transparent rounded">
                        <i class="fa-solid fa-reply px-2"></i>reply
                    </button>
                    <button id="forward_btn" class="w-32 m-2 bg-transparent hover:bg-sky-700 text-sky-700 font-semibold hover:text-white py-2 px-4 border-2 border-sky-700 hover:border-transparent rounded">
                        <i class="fa-solid fa-share px-2"></i>forward
                    </button>
                </div>
            </div>
            <!-- Email section-->
            <div id="compose-view">
                <hr class="my-5 text-gray-500 opacity-50">
                <form id="compose-form">
                    <div class="flex flex-row items-center">
                        <span class="text-gray-500 w-20">From:</span><input type="text" disabled class="m-4 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-700 sm:text-sm sm:leading-6 bg-gray-300" value="{{ request.user.email }}">
                    </div>
                    <div class="flex flex-row items-center">
                        <span class="text-gray-500 w-20">To:</span><input placeholder="you@example.com" id="compose-recipients" type="text" class="m-4 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-700 sm:text-sm sm:leading-6">
                    </div>
                    <div class="flex flex-row items-center">
                        <span class="text-gray-500 w-20">Subject:</span><input placeholder="subject" id="compose-subject" type="text" class="m-4 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-700 sm:text-sm sm:leading-6">
                    </div>
                    <div class="flex flex-row items-center">
                        <textarea id="compose-body" rows="3" class="mt-1 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-700 sm:py-1.5 sm:text-sm sm:leading-6" placeholder="Your email body here..."></textarea>
                      </div>
                    <div id="DS_btns" class="flex justify-end">
                        <button onclick="compose_email()" type="button" id="discard-btn" class="w-32 m-2 bg-transparent hover:bg-rose-500 text-rose-500 font-semibold hover:text-white py-2 px-4 border-2 border-rose-500 hover:border-transparent rounded">
                            <i class="fa-solid fa-trash"></i> Discard
                        </button>
                        <button  id="send_btn" class="w-32 m-2 bg-transparent hover:bg-sky-700 text-sky-700 font-semibold hover:text-white py-2 px-4 border-2 border-sky-700 hover:border-transparent rounded">
                            <i class="fa-solid fa-paper-plane"></i> Send
                        </button>
                    </div>
                </form>
                
            </div>
        </div>
        <!-- Main content -->
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}