{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <div class="flex w-screen h-screen">
        <!-- Sidebar -->
        <div class="sidebar fixed top-0 bottom-0 hidden flex-col p-2 pb-0 w-[300px] bg-gray-900 overflow-auto lg:flex ">
            <div id="logo" class="flex flex-row justify-between">
                <div class="flex text-center my-3 pl-4">
                    <img src="{% static 'mail/M_logo.png' %}" alt="logo" class="w-14 h-10 mt-2">
                    <h1 class="text-white font-bold text-3xl pl-4 pt-3">Mailify</h1>
                </div>
                <span class="lg:hidden relative text-white text-xl cursor-pointer hover:text-rose-500 p-3" onclick="showSidebar()"><i class="fa-solid fa-xmark"></i></span>
            </div>
            <hr class="my-5 text-gray-500 opacity-20">
            <!-- Twitter search input-->
                <div class="my-3" id="search">
                    <form class="searchForm w-[93%]">
                        <label for="search">
                            <input class="searchInput" type="text" required="" placeholder="Search" id="search">
                            <div class="search-bg"></div>
                            <div class="search">
                                <svg viewBox="0 0 24 24" aria-hidden="true" class="r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-4wgw6l r-f727ji r-bnwqim r-1plcrui r-lrvibr">
                                    <g>
                                        <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                                    </g>
                                </svg>
                            </div>
                            <button class="close-search" type="reset">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                </svg>
                            </button>
                        </label>
                    </form>
                </div>
            <!-- Twitter search input-->
            <!-- menu buttons -->
            <div class="flex flex-col justify-between flex-grow">
                <div class="">
                    <button id="compose" class="w-full text-left bg-transparent hover:bg-sky-700 text-rose-500 hover:text-white font-semibold mb-4 py-3 px-4 border border-blue-500 border-transparent rounded">
                        <i class="fa-solid fa-pen-to-square mr-2"></i>Compose
                    </button>
                    <button id="inbox" class="w-full text-left bg-transparent hover:bg-sky-700 text-white font-semibold mb-4 py-3 px-4 border border-blue-500 border-transparent rounded">
                        <i class="fa-solid fa-inbox mr-2"></i>Inbox
                    </button>
                    <button id="sent" class="w-full text-left bg-transparent hover:bg-sky-700 text-white font-semibold mb-4 py-3 px-4 border border-blue-500 border-transparent rounded">
                        <i class="fa-solid fa-paper-plane mr-2"></i>Sent
                    </button>
                    <button id="archived" class="w-full text-left bg-transparent hover:bg-sky-700 text-white font-semibold mb-4 py-3 px-4 border border-blue-500 border-transparent rounded">
                        <i class="fa-solid fa-box-archive mr-2"></i>Archive
                    </button>
                    <hr class="my-5 text-gray-500 opacity-20">
                </div>
                <div class="bg-slate-800 py-4 px-2 -mx-2 flex justify-between overflow-hidden">
                    <span class="text-white hover:text-rose-500 hover:cursor-default font-semibold">{{ request.user.email }}</span>
                    <a href="{% url 'logout' %}">
                        <i class="fa-solid fa-right-from-bracket text-white leading-7 pr-3 text-xl hover:text-sky-700 hover:cursor-pointer"></i>
                    </a>
                </div>
            </div>
            <!-- menu buttons -->
        </div>
        <!-- Sidebar -->

        <!-- Main content -->
        <div id="content" class=" w-screen h-full p-6 lg:ml-[300px]">

            <!-- Title of section-->
            <div id="Title" class="flex flex-row mb-5 ">
                <span class="menu inline-block text-2xl p-3 mx-4 mb-2 bg-slate-700 text-white lg:hidden rounded cursor-pointer" onclick="showSidebar()"><i class="fa-solid fa-bars"></i></span>
                <h1 id="title-change" class="text-5xl text-gray-700 font-semibold">Inbox</h1>
            </div>
           
            <!-- Title of section-->

            <!-- List Emails section-->
            <div id="emails-section" class="bg-white">
                <hr class="my-5 text-gray-500 opacity-50">
                <div class="overflow-x-auto border-x border-t">
                <table  class="table-auto w-full ">
                    <tbody id="emails-view">
                        <tr class="border-b hover:bg-gray-50">
                            <td class="p-4 w-1 leading-3">
                                <input type="checkbox" class="w-4 h-4 text-blue-600 rounded  ring-offset-gray-800 bg-gray-700 border-gray-600">
                            </td>
                            <td class="p-2">Prof. Lucie Waters </td>
                            <td class="p-2">basic@example.com </td>
                            <td class="text-right p-2">Administrator</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <!-- List Emails section-->
            <!-- Email section-->
            
            
            <div id="email-view" class="">
                
                <div id="email-nav">
                    <div class="flex flex-row justify-between">
                        <div id="buttons-set1" class="flex flex-row">
                            <button id="inbox" onclick="load_mailbox('inbox')" class="m-2 text-gray-500 text-2xl hover:text-rose-500 cursor-pointer">
                                <i class="fa-solid fa-chevron-left"></i> 
                            </button>
                            <button id="archive_Icon" class="m-2 text-gray-500 text-2xl hover:text-rose-500 cursor-pointer">
                                <i class="fa-solid fa-box-archive "></i>
                            </button>
                            <button id="spam" class="m-2 text-gray-500 text-2xl hover:text-rose-500 cursor-pointer">
                                <i class="fa-solid fa-triangle-exclamation"></i>
                            </button>
                            <button id="delete" class="m-2 text-gray-500 text-2xl hover:text-rose-500 cursor-pointer">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                            <button id="forward" class="m-2 text-gray-500 text-2xl hover:text-rose-500 cursor-pointer">
                                <i class="fa-solid fa-share"></i>
                            </button>
                        </div>
                        <div class="flex flex-row">
                            <button id="reply" class="m-2 text-gray-500 text-2xl hover:text-rose-500 cursor-pointer">
                                <i class="fa-solid fa-reply"></i>
                            </button>
                            <button id="option" class="m-2 text-gray-500 text-2xl hover:text-rose-500 cursor-pointer">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <hr class="mb-5 text-gray-500 opacity-50">
                <div id="email-content" class="">
                    <div class="flex flex-row justify-between ">
                        <div class="flex flex-col">
                            <span id="email-subject" class="text-4xl text-gray-900 font-semibold my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                            <span class="text-gray-500">From: <span id="email-sender" class="text-gray-700">Prof. Lucie Waters</span></span>
                            <span class="text-gray-500">To: <span class="text-gray-700">{{ request.user.email }}</span></span>
                        </div>
                        <div class="flex flex-col mt-14">
                            <span class="text-gray-500">On: <span id="time" class="text-gray-700">2021-05-05</span></span>
                        </div>
                    </div>
                    <div class="text-gray-700 my-5">
                        <p id="email-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc ut aliquam aliquam, nisl nisl aliquet nunc, eget aliquam nisl nisl sit amet nisl. Nulla fa</p>
                    </div>
                </div>
            </div>
            <!-- Email section-->

        </div>
        <!-- Main content -->
    </div>





        <div>
            <div id="compose-view">
                <h3>New Email</h3>
                <form id="compose-form">
                    <div class="form-group">
                        From: <input disabled class="form-control" value="{{ request.user.email }}">
                    </div>
                    <div class="form-group">
                        To: <input id="compose-recipients" class="form-control">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="compose-subject" placeholder="Subject">
                    </div>
                    <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                    <input type="submit" class="btn btn-primary mt-2"/>
                </form>
            </div>
        <div> 

    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
    <script type="text/javascript">
        function showSidebar() {
            document.querySelector(".menu").classList.toggle('hidden');
            document.querySelector(".sidebar").classList.toggle('hidden');
            document.querySelector(".sidebar").classList.toggle('flex');
        }
        
    </script>
{% endblock %}