{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <div class="flex w-screen h-screen">
        <!-- Sidebar -->
        <div class="sidebar top-0 bottom-0 lg:left-0 lg:h-screen p-2 w-[300px] bg-gray-900">
            <div id="logo">
                <h1 class="text-white">Mailify</h1>
            </div>
            <!-- Twitter search input-->
                <div class="my-3" id="search">
                    <form class="searchForm">
                        <label for="search">
                            <input class="searchInput" type="text" required="" placeholder="Search" id="search">
                            <div class="search-bg"></div>
                            <div class="search">
                                <svg viewBox="0 0 24 24" aria-hidden="true" class="r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-4wgw6l r-f727ji r-bnwqim r-1plcrui r-lrvibr">
                                    <g>
                                        <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                                    </g>
                                </svg>
                            </div>
                            <button class="close-search" type="reset">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                </svg>
                            </button>
                        </label>
                    </form>
                </div>
            <!-- Twitter search input-->
            <div>
                <button class="w-full text-left bg-transparent hover:bg-blue-500 text-white font-semibold mb-4 py-2 px-4 border border-blue-500 border-transparent rounded">
                    Button
                </button>
                <button class="w-full text-left bg-transparent hover:bg-blue-500 text-white font-semibold mb-4 py-2 px-4 border border-blue-500 border-transparent rounded">
                    Button
                </button>
                <button class="w-full text-left bg-transparent hover:bg-blue-500 text-white font-semibold mb-4 py-2 px-4 border border-blue-500 border-transparent rounded">
                    Button
                </button>
                <button class="w-full text-left bg-transparent hover:bg-blue-500 text-white font-semibold mb-4 py-2 px-4 border border-blue-500 border-transparent rounded">
                    Button
                </button>
            </div>
        </div>
        <!-- Sidebar -->
        <div id="content" class="border-solid border-2 w-screen h-full p-6 ">
            <div id="Title" class="m-2 bg-red-600">
                <h1>Title of section</h1>
            </div>
            <div id="content" class="m-2 bg-blue-600 h-fit">
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                </ul>
        </div>

    </div>

        {% comment %} <div>
            <h2 class="">{{ request.user.email }}</h2>
            <button class="" id="inbox">Inbox</button>
            <button class="" id="compose">Compose</button>
            <button class="" id="sent">Sent</button>
            <button class="" id="archived">Archived</button>
            <a class="" href="{% url 'logout' %}">Log Out</a>
            <hr>

            <div id="emails-view">
            </div>
            <div id="email-view">
                <button id="archive">Archive</button>
            </div>

            <div id="compose-view">
                <h3>New Email</h3>
                <form id="compose-form">
                    <div class="form-group">
                        From: <input disabled class="form-control" value="{{ request.user.email }}">
                    </div>
                    <div class="form-group">
                        To: <input id="compose-recipients" class="form-control">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="compose-subject" placeholder="Subject">
                    </div>
                    <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                    <input type="submit" class="btn btn-primary mt-2"/>
                </form>
            </div>
        <div> {% endcomment %}

    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}