{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Mail{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block styles %}
        {% endblock %}
        <script src="https://kit.fontawesome.com/d61c00eed6.js" crossorigin="anonymous"></script>
        {% tailwind_css %}
        {% block script %}
        {% endblock %}
    </head>
    <body class="overflow-hidden">
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>