{% extends "mail/layout.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'mail/css/login.css' %}">
{% endblock %}

{% block body %}
    <div class="boy w-screen h-screen bg-gray-200 flex flex-col">
        <!-- Container -->
        <div class="log-container">
            <!-- Overlay -->
            <div class="overlay">
                <div class="signin box">
                    <h1 class="title2 font-semibold text-4xl">Welcome back!</h1>
                    <p class="under_title">To keep connected with us please login with your personal info</p>
                    <button class="slide_btn L_btn mb-5" id="login"><span>Login</span></button>
                </div>
                <div class="register box">
                    <h1 class="title2 font-semibold text-4xl">Hello, Friend!</h1>
                    <p class="under_title">Enter your personal details and start journey with us</p>
                    <button class="slide_btn R_btn" id="register"><span>Register</span></button>
                </div>
            </div>
            <!-- Overlay -->
            <!-- Forms -->
            <div class="formBox"> 
                
                <!-- Sign In -->
                <div class="form signInForm">
                    <!-- alert div-->
                    <div id="L_alert" class="bg-red-400 rounded-lg p-2 m-5 absolute top-1 lg:top-5 w-3/4 hidden transition-all" role="alert">
                        <strong class="text-white">Invalid Credentials! </strong><span id="alertText" class="text-gray-800 font-semibold text-sm"></span>
                    </div>
                    <!-- alert div-->
                    <form class="sliding_form L_form" onsubmit="login()" action="{% url 'login' %}" method="post" >
                        {% csrf_token %} 
                        <h1 class="font-semibold text-4xl mb-5">Login here</h1>
                        <div class="textInputWrapper">
                            <input class="LR_input"  type="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="textInputWrapper">
                            <input class="LR_input" type="password" placeholder="Password"  name="password" required>
                        </div>
                        <button class="main_btn">Login</button>   
                    </form>
                </div>
                <!-- Sign In -->
                <!-- Register -->
                <div class="form registerForm">
                    <div id="R_alert" class="bg-red-400 rounded-lg p-3 transition-all hidden" role="alert">
                        <strong class="text-white">Failed to register!</strong><span id="alertText2" class="text-gray-800 font-semibold text-sm"></span>
                    </div>
                    <form class="sliding_form R_form transition-all" action="{% url 'register' %}" method="post" onsubmit="register()">
                        {% csrf_token %}
                        <h1 class="title1 font-semibold text-4xl">Register here</h1>
                        <div class="textInputWrapper"><input class="LR_input" type="text" placeholder="Username"></div>
                        <div class="textInputWrapper"><input class="LR_input" type="email" placeholder="Email" name="email" required></div>
                        <div class="textInputWrapper"><input class="LR_input" type="password" placeholder="Password" name="password" required></div>
                        <div class="textInputWrapper"><input class="LR_input" type="password" placeholder="Confirm Password"  name="confirmation" required></div>
                        <button class="main_btn">Register</button>
                        
                    </form>
                </div>
                <!-- Register -->
            </div>
            <!-- Forms -->
        </div>
        <!-- Container -->
        
    </div>
    <script src="{% static 'mail/js/login.js' %}"></script>
{% endblock %}